<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Meta Data</title>
</head>
<body style="background:url(https://storage.googleapis.com/wzukusers/user-14093730/images/55add0355ffc8PI3icGA/faded-light-blue-background_1450.jpg); background-size:cover;">
<!-- <script type="text/javascript">
function myfunc(){
var n1= document.getElementById("num1").value;
var n2= document.getElementById("num2").value;
var n3=parseInt(n1)+parseInt(n2);
document.getElementById("para1").innerHTML="The sum of two numbers is"+n3;
}
</script> -->

<img src="https://images-na.ssl-images-amazon.com/images/I/A1xkFZX5k-L.jpg" width="500" height="700" align="left">

<h2><p style="position:relative; left:200px; top:210px;">Metadata:</p></h2>
<p style="position:relative; left:300px; top:220px; font-size:1.2vw">
	Originally published: 1988<br>
	Author: Stephen Hawking<br>
	Page count: 256<br>
	Genre: Popular science<br>
	LC Class: QB981.H377 1998</p>
<a href="" style="position:relative; left:400px; top:300px;">Back To Home</a>

</body>
</html>

