{% extends "template.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 style="margin-bottom: 50px;">question 1</h1>

<div class="row justify-content-between">
    {% for student in students %}
    <div class="card col-5 mb-5">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ student.name }}</li>
            <li class="list-group-item">{{ student.date_of_birth }}</li>
            <li class="list-group-item">{{ student.address }}</li>
            <li class="list-group-item">{{ student.contact_number }}</li>
            <li class="list-group-item">{{ student.email_id }}</li>
            <li class="list-group-item">{{ student.english_marks }}, {{ student.physics_marks }},
                {{ student.chemistry_marks }}</li>
            <li class="list-group-item"><b>{{ student.percentage }}</b></li>
        </ul>
    </div>
    {% endfor %}
</div>

<br />
<br />
<br />

<div class="col-6">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br />
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>

{% endblock content %}